﻿<!DOCTYPE html>
{% extends "master.html" %}
{% block title %}CreateUser{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Create User</h1>
<p>{{error}}</p>
<form action="" method="POST">
    <table>
        <tr>
            <td>Role:</td>
            <td><select name="role">
                {% if role == 1 %}
                <option value="1">Admin</option>
                {% endif %}
                {% if role <= 2 %}
                <option value="2">Write</option> 
                {% endif %}
                <option value="3">Read</option>
            </select></td>
        </tr>
        <tr>
            <td>Username:</td>
            <td><input name="Username" type="text"/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input name="Password" type="password"/></td>
        </tr>
        <tr>
            <td>Repeat Password:</td>
            <td><input name="RepeatPassword" type="password"/></td>
        </tr>
    </table>
    <input type="hidden" value="{roleId}"/>
    <input type="submit"/>
</form>
{% endblock %}