﻿<!DOCTYPE html>
{% extends "master.html" %}
{% block title %}CreateUser{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Edit User {{editUser.name}}</h1>
<p>{{error}}</p>
<form action="" method="POST">
    <table>
        {% if roleEdit %}
        <tr>
            <td>Role:</td>
            <td><select name="role">
                <option value="1" selected="{{ editUser.role == 1 }}">Admin</option>
                <option value="2" selected="{{ editUser.role == 2 }}">Write</option>
                <option value="3" selected="{{ editUser.role == 3 }}">Read</option>
            </select></td>
        </tr> 
        {% endif %}
        <tr>
            <td>Username:</td>
            <td><input name="Username" type="text" value="{{editUser.name}}"/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input name="Password" type="password" value="password"/></td>
        </tr>
        <tr>
            <td>Repeat Password:</td>
            <td><input name="RepeatPassword" type="password"/></td>
        </tr>
    </table>
    <input type="hidden" value="{roleId}"/>
    <input type="submit"/>
</form>
{% endblock %}