﻿<!DOCTYPE html>
{% extends "master.html" %}
{% block title %}Overview{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Overview</h1>
<p>{{error}}</p>
{% endblock %}
