﻿<!DOCTYPE html>
{% extends "master.html" %}
{% block title %}Login{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Login</h1>
<p>{{error}}</p>
<form action="" method="POST">
    <table>
        <tr>
            <td>Username:</td>
            <td><input name="Username" type="text"/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input name="Password" type="password"/></td>
        </tr>
    </table>
    <input type="submit" />
</form>
{% endblock %}