﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
    <title>{% block title %}{% endblock %} - Ardulight</title>
    {% if user %}
    <a href="/index">Overview</a>
    {% if user.isAdmin %}
    <a href="/admin">Management</a>
    {% endif %}
    <a href="/index">Logout</a>
    {% else %}
    <a href="/login">Login</a>
    {% endif %}
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        Renato Bosshart &copy;  2017.
        {% endblock %}
    </div>
</body>
</html>