﻿<!DOCTYPE html>
{% extends "master.html" %}
{% block title %}Users{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Users</h1>
<a href="/createUser/{{user.role}}">Add new User</a>
<table>
    <tr>
        <td style="width: 30%">Username</td>
        <td>Role</td>
    </tr>
    {% for u in users %}
    <tr>
        <td><a href="/editUser/{{ u.id }}">{{ u.name }}</a></td>
        <td>{{ u.role }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}